*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
::-webkit-scrollbar{
    display: none;
}

#main{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
#page1{
    width: 100%;
    height: 100%;
}
#page1 #nav{
    position:absolute;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding: 12px 4vw;  
    text-transform: uppercase;
    font-family: sans-serif;
    opacity: 0;
    animation-name: navanime;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
#page1 #nav i{
    font-size: 1.5vw;
}
@keyframes navanime {
    from{
        top: -50px;
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}
#page1 #nav #navm{
    display: flex;
    gap: 4vw; 
    font-weight: 500; 
    font-size: 1vw;
}
#page1 #nav img{
    height: 30px;
    
    padding-right:5px;
}
#page1 #nav span{
    align-items: center;
    font-size: 10px;
    text-transform: lowercase;
    
    
}
#page1 #nav a{
    text-decoration: none;
    color: #000;
}
#page1 #lr{
    display: flex;
    width: 100%;
    /* height: calc(100% - 70px); */
    height: 100%;
    position: relative;
    left: 0;
}
#page1 #lr #left{
    position: relative;
    width: 50%;
    left: 0;
    padding: 4vw;
    padding-top: 6vw;
}
#page1 #lr #left h1{
    position: inherit;
    font-size: 5vw;
    margin-bottom: 3vw;
    margin-top: 5vw;
    line-height: 5vw;
    left: 0;
    opacity: 0;
    animation-name: h1anime;
    animation-duration: 1.4s;
    animation-delay: .8s;
    animation-fill-mode: forwards; 
 
}
@keyframes h1anime {
    from{
        left: -20%;
        opacity: 0;
    }
    to{
        left:4%;
        opacity: 1;
    }
} 
#page1 #lr #left p{
    position: inherit;
    left: 0;
    opacity: 0;
    animation-name: panime;
    animation-duration: 1.4s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes panime {
    from{
        left: -20%;
        opacity: 0;
    }
    to{
        left:4%;
        opacity: 1;
    }
}
#page1 #lr #left span{
    color: #0262D2;
}
#page1 #lr #left button{
    position: absolute;
    left: 0;
    padding: 16px 32px;
    background-color: #0262D2;
    margin-top: 3vw;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid gray;
    opacity: 0;
    animation-name: banime;
    animation-duration: 1.4s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes banime {
    from{
        left: -20%;
        opacity: 0;
    }
    to{
        left:11%;
        opacity: 1;
    }
}
#page1 #lr #right{
    margin-top: 3vw;
    position: relative;
    width: 50%;
    background-image: url(img/kidst.avif);
    background-position: center;
    background-size: cover;
    opacity: 0;
    animation-name: ranime;
    animation-duration: 1.4s;
    animation-delay: .6s;
    animation-fill-mode: forwards;
}
@keyframes ranime {
    from{
        right: -20%;
        opacity: 0;
    }
    to{
        right:4%;
        opacity: 1;
    }
}
#page2{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 #text{
    position: absolute;
    top: 10%;
    text-align: center;
    font-size: 2vw;
    text-transform: uppercase ;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    background-image: url(img/rainbow-roygbiv.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#page2 .kf{
    height: 20vw;
    width: 19vw;
    box-shadow: 0px 0px 6px #0262D2;
    padding: 1.5vw;
    text-align: justify;
    align-items: center;
    justify-content: center;
    margin: 5vw;
    border: 2px solid #0262D2;
    border-radius: 5px;  
    color: #3e71abd9;
}
#page2 .kf h2{
    text-align: center;
    padding-bottom: 1.5vw;
    text-transform: uppercase;
    color: #4e4e4e;
}
#page2 .kf p{
    line-height: 1.5vw;
}



